<div class="navbar">
    <div class="brand">
        <div class="logo">
            <img src="" alt="">
        </div>
        <span>Brand</span>
    </div>
    <ul>
        <li routerLink="">Home</li>
        <li routerLink="/dashboard" routerLinkActive="active">AI Tools</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <div class="nav-r">
        <button routerLink="/login" class="user">Login</button>
        <!-- <div class="dropdown">
            <div class="dropdown-content">
                <a href="#">Sign</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div> -->
    </div>
</div>