.container{
    position: relative;
    padding: 0 1.5em;
}

.container h1,h3,p{
    margin-top: 1.5rem;
}

#shape{
    position: absolute;
}

.cls-1 {
    fill: var(--primary-color);
    stroke-width: 0px;
}

