.navbar{
    color: aliceblue;
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    padding: .5em 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navbar ul li{
    cursor: pointer;
}
.brand{
    display: flex;
    align-items: center;
    gap:1em;
    cursor: pointer;
}
.logo{
    width: 2rem;
    height: 2rem;
    background-color: aquamarine;
    border-radius: 50%;
}