<div class="navbar">
    <div class="brand">
        <div class="logo">
            <img src="" alt="">
        </div>
        <span>Brand</span>
    </div>
    <ul>
        <li routerLink="">Home</li>
        <li routerLink="/ai-tools" routerLinkActive="active">AI Tools</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <div class="nav-r">
        <label class="switch">
            <span>Theme</span>
            <input type="checkbox" (click)="toggle()" class="checkbox">
            <div class="slider"></div>
        </label>
        <div class="user">Profile</div>
    </div>

</div>