.navbar {
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    padding: .5em 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar ul li {
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.logo {
    width: 2rem;
    height: 2rem;
    background-color: aquamarine;
    border-radius: 50%;
}

.nav-r {
    display: flex;
    align-items: center;
    min-width: 120px
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.user {
    width: 100%;
    padding: 0.5em 1em;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color:var(--secondary-color);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    text-align: center;
    font-size: small;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .user {
    background-color: #3e8e41;
}

.dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}